<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Cows and Bulls</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>
        Cows and Bulls. 
    </h1>
    <h3><br/> This will make you think</h3>
<ul>
    {{#each words}}
    <li>{{ word }}</li>
    {{/each}}
</ul>

</body>
</html>